.thead-style {
    border: 2px solid #f4f5f8;
    padding: 10px;
    text-align: center;
    color: #575962;
    font-weight: 500;
    font-size: 14px;
}

.groups-table-style {
    background-color: white;
    width: 100%;
    margin-left: 10px;
    padding: 50px 20px 20px 20px;
}

table {
    border-spacing: 0px;
}

.info-table-style {
    background-color: white;
    padding: 15px 16px 15px 17px;
    font-size: 14px;
    color: #a6a7c1;
    font-weight: 600;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .groups-table-style {
        padding: 50px 0px 20px 0px;
        margin-left: 0px;
    }

    .info-table-style {
        padding: 15px 10px 15px 10px;
        overflow: auto;
    }

    .thead-style {
        width: 100px;
    }
}