.table-style {
    background-color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 10px 16px 10px 17px;
}

.device-table-info {
    padding: 0 25px 0 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f4f5f8;
    height: 60px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #575962;
    padding: 0 35px 0 35px;
}

table {
    border-spacing: 0px;
}