.table-style {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px 16px 10px 17px;
    overflow: auto;
}

.device-table-info {
    justify-content: center;
    align-items: center;
    border: 1px solid #f4f5f8;
    height: 60px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #575962;
    padding: 0 35px 0 35px;

}

tr td {
    width: 5px;
}

table {
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width:900px) {
    .device-table-info{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:1100px) {
    .device-table-info{
        padding-left: 5px;
        padding-right: 5px;
        width: 100px;
    }
}