.table-style {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px 16px 10px 17px;
    overflow: auto;
}

.device-table-info {
    justify-content: center;
    align-items: center;
    border: 1px solid #f4f5f8;
    height: 60px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #575962;
    padding: 0 15px 0 15px;

}

.active-user {
    color: #00c5dc!important;
}

.non-active-user {
    color: #f4516c!important;
}

.font {
    font-weight: 100;
}


table {
    border-spacing: 0px;
    table-layout: fixed;
    width: max-content;
}

.content-style {
    word-break: normal;
    width: auto;
}

.pagination {
    justify-content: right;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    gap: 5px;
}

.pagination .page-num {
    color: #575962;
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    background-color: #eff1f5;
}

.pagination .page-num:hover {
    background-color: #716aca;
    color: #fff;
}

.pagination .active-page {
    background-color: #716aca;
    color: #fff;
}

.paginate-div-style {
    display: flex;
    justify-content: right;
}

@media screen and (max-width:900px) {
    .device-table-info{
        padding-left: 5px;
        padding-right: 5px;
    }

    .paginate-div-style {
        justify-content: left;
    }
}

@media screen and (max-width:1100px) {
    .device-table-info{
        padding-left: 5px;
        padding-right: 5px;
        width: 100px;
    }
}