.button-save-style {
  cursor: pointer;
  color: #fff;
  font-family: "Poppins";
  background-color: #716aca;
  border-color: #716aca;
  height: 40px;
  width: 80px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 15px;
}

.button-save-style:hover {
  background-color: #564ec0;
}

.button-discard-style {
  cursor: pointer;
  color: #212529;
  font-family: "Poppins";
  height: 40px;
  width: 80px;
  background: #fff;
  border-color: #ebedf2;
  font-size: 13px;
  font-weight: 400;
}

.button-discard-style:hover {
  border-color: #ebedf2;
  background-color: #f4f5f8;
}

.save-discard-div {
  background-color: #f7f8fa;
  padding: 30px;
}

.padding-style {
  
}
