.button-style {
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins';
    background-color: #716aca;
    border-color: #716aca;
    height: 40px;
    width: 80px;
    margin-left: 10px;
}

.span-button-style {
    font-size: 15px;
    background-color: white;
    width: 80%;
}

.button-style:hover {
    background-color: #564ec0;
}

@media screen and (max-width:900px) {
    .button-style {
        width: 50%;
        margin-top: 15px;
    }
}