.logout-button-style {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ebedf2;
    cursor: pointer;
    padding: 10px;
}

.logout-button-style:hover {
    background-color: #e7eaf3;
}