.params-style {
    background-color: white;
    padding: 15px 16px 15px 17px;
    font-size: 14px;
    color: #a6a7c1;
    font-weight: 600;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.th-desc-style {
    padding: 25px 25px 20px 25px;
    text-align: center;
    color: #a6a7c1;
    font-weight: 500;
    font-size: 14px;
    justify-content: center ;
}

@media screen and (max-width: 1000px) {
    .th-desc-style {
        width: 120px;
    }
    .params-style {
        padding: 15px 10px 15px 10px;
    }
}




