.user-card-style {
  background-color: rgb(244, 244, 244);
  width: 250px;
  height: 85px;
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  transition: transform 0.2s ease-in;
}

.none {
    display: none !important;
}

.profile-style-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-style-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
   --bs-gutter-x: 0 !important;
}

.profile-button-style {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #716aca;
  background-color: #716aca;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.profile-button-style:hover {
  background-color: #564ec0;
}

.link-profile-style {
  color: #212529;
  text-decoration: none;
  font-size: 14px;
}

.link-profile-style:hover {
  color: #212529;
}

.logout-button-style {
  width: 100%;
  border-radius: 15px;
  background-color: #716aca;
    border-color: #716aca;
    color: #fff;
  cursor: pointer;
  padding: 10px;
}

.logout-button-style:hover {
  background-color: #564ec0;
}