.user-card-style {
  background-color: white;
  width: 250px;
  height: 70px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
}

.none {
    display: none;
}

.profile-style-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-style-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
   --bs-gutter-x: 0 !important;
}