.app {
    position: relative;
    top: 83px;
    left: 270px;
    margin-right: 0px;
    width: 84%;
  }

  @media screen and (max-width: 1669px) {
    
    .app {
      width: 82%;
    }
    
  }

  @media screen and (max-width: 1570px) {
    
    .app {
      width: 80%;
    }
    
  }

  @media screen and (max-width: 1400px) {
    
    .app {
      width: 78%;
    }
    
  }

  @media screen and (max-width: 1200px) {
    
    .app {
      width: 74%;
    }
    
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    
    

  }

  @media screen and (max-width: 900px) {
    .app{
        left: 20px;
        width: 88%;
    }
}